body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-family: monospace;
    color: #ffffff;
    letter-spacing: 0.5em;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 2em;
}

h2, h3 {
    font-family: sans-serif;
    text-transform: uppercase;
}

h2 {
    color: #ffffff;
    font-size: 5em;
}

hr {
    height: 3px; 
    font-size: 0;
    border: 0;
}

#top > hr {
    border-bottom: 3px solid #ffffff;
}

#header-section {
    padding: 2em;
    max-width: 1500px;
    margin: 0 auto;
}

#header-section > h2 {
    margin: 0;
    padding: 0;
}

#header-section > p {
    color: #888888;
    font-family: sans-serif;
}

#main {
    max-width: 1500px;
    margin: 0 auto;
}

#main > ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    list-style: none;
}

#main > ul > li.row {
    display: table-row;
}


.card {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    padding: 3em;
    border-top: 3px solid #000000;
    cursor: pointer;
    text-decoration: none;
    position: relative; 
}

.card > h3 {
    font-size: 3em;
    font-weight: 800;
    margin: 0.7em 0;
}

.card > span {
    font-size: 1.5em;
    font-family: monospace;
    color: #ffffff;
}

.card > p {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 1.1em;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#motorrad {
    background-color: #0f0f0f;
}

#motorrad > h3{
    color: #f5c518;
}

#motorrad > hr {
    background: #f5c518;
}

#motorrad:hover {
    border-top: 3px solid #f5c518;
}


#oldtimer {
    background-color: #3b2007;
}

#oldtimer > h3 {
    color: #f5deb3;
}
 
#oldtimer > hr {
    background: #f5deb3;;
}

#oldtimer:hover {
    border-top: 3px solid #f5deb3;
}


#basketball {
    background-color: #c3531b;
}

#basketball > h3 {
    color: #000000;
}

#basketball > hr {
    background: #000000;;
}

#basketball:hover {
    border-top: 3px solid #ffffff;
}


#formel {
    background-color: #0a1628;
}

#formel > h3 {
    color: #ffffff;
}

#formel > hr {
    background: #4fc3f7;
}

#formel:hover {
    border-top: 3px solid #4fc3f7;
}


#feuerwehr {
    background-color: #cc0000;
}

#feuerwehr  > h3 {
    color: #ffffff;
}

#feuerwehr  > hr {
    background: #ffffff;
}

#feuerwehr:hover {
    border-top: 3px solid #ffffff;
}


#videospiel {
    background-color: #0d0d0d;
}

#videospiel > h3 {
    color: #00ff22;
}

#videospiel > hr {
    background: #00ff22;
}

#videospiel:hover {
    border-top: 3px solid #00ff22;
}
