html{
  scroll-behavior: smooth;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: electrolize, Arial, sans-serif;
}


/* Header*/
header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #000;
}

.logo{
  padding: 16px 18px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

nav ul{
  display: flex;
  list-style: none;
}

nav a {
  margin: 10px;
  padding: 16px 18px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #ff2929;
}

/* main body*/
/*Home*/

section {
  min-height: 100px; /*brauche ich das noch?*/
  display: flex;
  padding: 0px 15%;
  scroll-margin-top: 70px;
  border-top: 4px solid #ff2929;
}

.home{
  min-height: 95vh; /*brauche ich das noch?*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url('assets/img/front_light.jpg');
  background-size: cover;
  background-position: center 10%;
}

.home-inner{
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(24, 24, 24, 0.8);
}

.home h1{
  margin-bottom: 10px;
  font-size: 60px;
  font-weight: 800px;
}

.white{
  color: #fff;
}

.red{
  color: #ff2929;
}

.home-text{
  font-size: 20px;
  color: #D4D4D4;
}

/*sections*/

.subtitle{
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff2929;
}

.line{
  height: 2px;
  width: 41px;
  flex-shrink: 0; /*brauche ich das?*/
  background-color: #ff2929;
}

.section-head{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.section-head h2{
  margin-top: 10px;
  font-size: 40px; 
  font-weight: 600;
}

/*Specifications*/
.specs{
  min-height: auto; /*brauche ich das noch?*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  background-color: #1C1C1C;  
}

.list{
  width:  100%;
}

.list dl{
  display: flex;
  flex-direction: column;
  margin: 0;
}

.item{
  display: flex;
  justify-content: space-between;  
  align-items: baseline;
  min-width: 160px;
  padding: 22px 40px 22px 0px;
  border-bottom: 1px solid #5b5b5b;
}

.item dt{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D4D4D4;
}

.item dd{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.canvas-audio{
  width: 40%;
  min-height: 480px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  border-radius: 16px;
}

.speedometer{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: black;
  color: #D4D4D4;
}

.audio{
  display: flex;
  justify-content: center;
}

/*Pictures*/
.pictures{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0E0E0E
}

.pictures-format,
.pic-column-above,
.pic-column-below,
.pic-content,
.small-pictures{
  display: grid;
  gap: 20px;
}

.small-pictures{
  grid-template-columns: 1fr 1fr;
}

.pic-content{
  min-width: 0;
}

.pic{
  width: 100%;
  min-width: 0;
  display: block;
  object-fit: cover;
}

.pic-big{
  height: 280px;
}

.pic-small{
  height: 160px;
}

.pic-long{
  height: 400px;
}

.pic-top{
  object-position: center 10%;
}

/*Video*/
.video{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1C1C1C;  
}

.video-format{
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; /*Fester Wert?*/
  padding: 20px;
}

.video figcaption{
  margin-top: 8px;
  font-size: 14px;
  color: white;
}

/*Experiences*/
.experiences{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0E0E0E;  
}

.experiences-content{
  width: 100%;
  max-width: 1100px; /*brauche ich das?*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px auto 0 auto; /*Feste Werte?*/
}

.content,
.content-reverse{
  width: 90%;
  min-height: 350px;
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: black;
  border: solid 1px #5b5b5b; /*oder rot?*/
}

.content-reverse{
  grid-template-columns: 1fr 300px;
}

.content-img{
  position: relative;
  margin: 0; 
}

.tour-img{
  max-height: 400px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center 40%; 
}

.img-cap{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: rgba(13, 13, 13, 0.9);
}

.content-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
  gap: 12px;
  line-height: 25px;
  box-sizing: border-box;
}

.content-text h3{
  font-size: 20px;
}

.title{
  margin: 0;
  color: white;
}

.text{
  color: #D4D4D4;
}

/*PDF*/
.pdf{
  display: flex;
  align-items: center;
  gap: 100px;
  padding-top: 40px 5%;
  background-color: #1C1C1C;  
}

.section-head{
  max-width: 420px;
}

.pdf-download{
  flex-shrink: 0;
  cursor: pointer;
}

.pdf-download img{
  width: 150px;
  height: 150px;
  display: block;
}

/* Footer*/
footer{
  padding: 20px;
  color: white;
  background-color: #000;
}

/*Media Queries*/

@media (min-width: 768px){
  .pic-column-above{
    grid-template-columns: 7fr 6fr;
  }

  .pic-column-below{
    grid-template-columns: 6fr 7fr;
  }

  .pic-big{
    height: 480px;
  }

  .pic-small{
    height: 220px;
  }

  .pic-long{
    height: calc(480px + 20px + 220px);
  }

}

@media (max-width: 767px){
  header{
    flex-direction: column;
    height: auto;
  }

  nav ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a{
    margin: 4px;
    padding: 10px 12;
    font-size: 15px;
  }

  .specs{
    flex-direction: column;
  }

  .info, 
  .canvas-audio{
    width: 100%;
  }

  .item{
    flex-direction: column ;
    align-items: flex-start;
    padding: 16px 20px;
  }

  .item dd{
    margin-top: 4px;
  }

  /*Experiences*/
  .content,
  .content-reverse{
    grid-template-columns: 1fr;
    width: 90%;
    min-height: 0;
  }

  .content-img{
    grid-row: 1;
    height: 250px;
  }

  .content-text{
    grid-row: 2;
  }

  .content-img{
    grid-row: 1;
    height: 250px;
    overflow: hidden;
  }

  .pdf{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .section-head{
    max-width: 100%;
  }

  .pdf-download{
    align-self: center;
  }

}