html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header*/
header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #050505;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
  padding: 16px 18px;
}

nav ul{
  list-style: none;
  display: flex;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  margin: 10px;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  color: #CC0000;
}

/* main body*/

section {
  min-height: 100px;
  display: flex;
  padding: 0px 15%;
  scroll-margin-top: 70px;
  border-top: 2px solid #CC0000;
}

.home{
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url('assets/img/front_light.jpg');
  background-size: cover;
  background-position: center 10%;
}

.home-inner{
  background-color: rgb(8,8,8,0.7);
  padding: 10px;
  border-radius: 10px;
}

.home h1{
  font-size: 60px;
  margin-bottom: 10px;
}

.white{
  color: white;
}

.red{
  color: #CC0000;
}

.home-text{
  color: #888;
  font-size: 20px;
}

.subtitle{
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 0;
  color: #CC0000;
}

.line{
  height: 2px;
  width: 30px;
  background-color: #CC0000;
  flex-shrink: 0;
}

.section-head{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.section-head h1{
  font-size: 50px;
  margin-top: 10px;
}

/*Specifications*/
.specs{
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 40px;
  background-color: #080808;  
}

.list{
  width:  100%;
}

.list dl{
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.item{
  display: flex;
  justify-content: space-between;  
  align-items: baseline;
  min-width: 160px;
  padding: 22px 40px 22px 40px;
  border-bottom: 1px solid #262626;
}

.item dt{
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 15px;
  margin: 0;
}

.item dd{
  color: white;
  font-size: 15px;
  margin: 0;
}

.canvas-audio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 10%;
  min-height: 480px;
  border-radius: 16px;
}

.speedometer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  border-radius: 16px;
  background-color: black;
  color: #7a7a7a;
}


.audio{
  display: flex;
  justify-content: center;
}

/*Pictures*/
.pictures{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #080808;  
}

.pictures-format{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.pic-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pic-column-above{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /*background-color: white;*/
}

.pic-column-below{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /*background-color: white;*/
}

.small-pictures{
  display: flex;
  gap: 20px; /*2,09%*/
}

.pic-long{
  height: 720px;
}

.pic-big{
  width: 100%;
  height: 480px;
}

.pic-small{
  width: 52.09%; 
  height: 220px;
  background-color: #CC0000;
}

/*Video*/
  .video{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #080808;  
}

.video-format{
  display: flex;
  justify-content: center;
  width: 800px;
  height: 450px;
  background-color: #7a7a7a;
  margin: 0 auto;
  padding: 20px;
}

.video figcaption{
  margin-top: 8px;
  font-size: 12px;
  color: white;
}

/*Experiences*/
.experiences{
  min-height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #080808;  
}

/*PDF*/
.pdf{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #080808;  
}

.section-head{
  width: 50%;
}

.pdf-download{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pdf-download img{
  width: 150px;
  height: 150px;
  display: block;
}

/* Footer*/


/*Media Queries*/

@media (min-width: 768px){
  .pic-column-above{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .pic-column-below{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 600px){
  header{
    flex-direction: column;
    height: auto;
  }

  nav ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a{
    margin: 4px;
    padding: 10px 12;
    font-size: 15px;
  }

  .specs{
    flex-direction: column;
  }

  .info, .canvas-audio{
    width: 100%;
  }

  .item{
    flex-direction: column ;
    align-items: flex-start;
    padding: 16px 20px;
  }

  .item dd{
    margin-top: 4px;
  }

  .canvas-audio{
    margin-top: 5%;
  }

  .pdf{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 220px;
  }

  .section-head{
    width: 100%;
  }

  .pdf-download{
    top: auto;
    bottom: 40px;
    left: 50%;
    transform: translate(-50px);
  }


}