@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
}

body {
    background: #0D1117;
    font-family: "Space Grotesk", sans-serif;
    color: #8F9CAE;
    margin: 0;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    margin: -1px;
    border: 0;
    clip-path: inset(50%);
    white-space: nowrap;
}

.container {
    width: 1360px;
    margin-inline: auto;
}

.site-header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1b2333;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    color: inherit;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

#navbar a {
    padding: 4px 10px;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

#navbar a:hover {
    background: #1b2232;
    color: #CCFF00;
}

.hero {
    width: 768px;
}

.hero #title {
    color: #FFFFFF;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0.75rem 0;
}

.hero #description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}

.box {
    border: 1px solid rgba(38, 50, 72, 0.8);
    background: #131822;
    padding: 1.25rem;
    border-radius: 12px;
}

.box .box-title {
    margin: 0;
    font-size: 0.75rem;
    color: #FFFFFF;
}

#playground {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 294px 115px 1fr;
    gap: 1.5rem;
    margin-top: 3rem;
    height: 653px;
}

#game {
    grid-column: span 7;
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#game canvas {
    border-radius: 8px;
    border: 1px solid #181f2d;
    flex: 1;
}

#settings {
    grid-column: span 5;
    grid-row: span 1;
}

#gravity, #flap, #gap {
    width: 100%;
    margin: 0;
    height: 0.5rem;
}

#gravity-output, #flap-output, #gap-output {
    font-weight: bold;
}

.blue {
    color: #00F0FF;
}

.pink {
    color: #FF007A;
}

.green {
    color: #CCFF00;
}

.control-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}

.control {
    margin-top: 0.875rem;
}

.control p {
    margin: 0;
    font-size: 0.6875rem;
}

#vector-data {
    grid-column: span 5;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#vector-data dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 0.5rem 0 0;
    flex: 1;
    min-height: 0;
}

#vector-data .data-cell {
    background: #1B2232;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#vector-data .data-cell dt {
    font-size: 0.75rem;
}

#vector-data .data-cell dd {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#concept-section {
    margin-top: 3rem;
}

.no-margin {
    margin: 0;
}

#concept-section header {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.concept-title {
    color: #FFFFFF;
    font-weight: bold;
}

.concept-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.concept-grid .box {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.numeration {
    font-family: Space Mono;
    text-transform: uppercase;
    font-size: 0.6875rem;
}